// ========== footer =============
footer.main-footer
	.container
		.main-footer__left
			.logo
				img(src="img/logo.png", alt="")
			p.copyright © Парк Захарово 2012-2016
			p Копирование материалов сайта возможно без предварительного согласования в случае установки активной индексируемой ссылки на наш сайт.
		.main-footer__right
			p.title Меню сайта
			ul
				li: a(href="") История парка
				li: a(href="") Афиша
				li: a(href="") Новости и События
				li: a(href="") Фотогалерея
				li: a(href="") Наши партнеры
				li: a(href="") Пресса о нас
				li: a(href="") Детям
				li: a(href="") Старшему поколению
				li: a(href="") Услуги
				li: a(href="") Документы
				li: a(href="") Карта парка
				li: a(href="") Контакты
// ========== footer end =========