.overlay
.header-menu__wrap
	.header-menu
		.search-block
			form(action="#").search-block__form
				input(type="text", placeholder="Поиск по сайту")
				button(type="submit")
		.main-menu__button-wrap
			button.main-menu__button
		.main-menu
			.main-menu__header меню сайта
			ul.main-menu__list 
				li: a(href="#") История парка
				li: a(href="#") Афиша
				li: a(href="#") Новости и События
				li: a(href="#") Фотогалерея
				li: a(href="#") Наши партнеры
				li: a(href="#") Пресса о нас
				li: a(href="#") Детям
				li: a(href="#") Старшему поколению
				li: a(href="#") Услуги
				li: a(href="#") Документы
				li: a(href="#") Карта парка
				li: a(href="#") Контакты