head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Start
    meta(name='description', content='')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
    // LIBS STYLES ======================================================================
    link(rel='stylesheet', href='libs/bxslider/jquery.bxslider.css')
    // CUSTOM STYLES ====================================================================
    link(rel='stylesheet', href='css/style.min.css')
    script(src='libs/modernizr.js')