.page__header
	.container
		//- include header-menu
		.main-header.color-white
			a(href="/").logo.main-header__logo
				img(src="img/logo.png", alt="")
			.main-header__text-wrap
				.main-header__text
					.border.border--top
					h1 Парк захарово
					em Спорт, отдых для всей семьи <br> и место для романтических свиданий
					.main-header__bottom Одинцовский район, деревня Захарово
						.border.border--left
						.border.border--right