include _patterns/inner-header
extends _patterns/inner-template

block main
	// ========= header ==========
	+header('bg-forold.jpg', 'Старшему поколению')
	// ========= header end ==========
	// ========= content ==========
	.page__content		
		.services
			.container
				.row
					.col-50: .service-item.news__item
						img(src="img/services-item1.jpg", alt="")
						.news__info
							.news__name Фитнес тренировки
								span (С фитнес тренером)
						.req__enter От 3 000 руб.
					.col-50: .service-item.news__item
						img(src="img/services-item2.jpg", alt="")
						.news__info
							.news__name Фитнес тренировки
								span (С фитнес тренером)
						.req__enter.free
	// ========= content end ==========